<html>

<head>
  <title>Electric Sheep</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- OpenGraph data -->
  <meta property="og:image"
    content="https://raw.githubusercontent.com/willfenton/electric-sheep/main/website/static/logo-512.png">
  <meta property="og:title" content="Electric Sheep">
  <meta property="og:description"
    content="What androids dream of. Web application that plays AI-generated music accompanied with a procedural animation.">
  <meta property="og:url" content="https://github.com/willfenton/electric-sheep/">

  <link rel="icon" href="/static/website/logo-512.png" type="image/png">

  <!-- CSS -->
  <link rel="stylesheet" href="/static/website/style.css">

  <link href="https://fonts.googleapis.com/css?family=Work+Sans:400,700&display=swap" rel="stylesheet">

  <!-- p5.js -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/p5.js/0.9.0/p5.min.js"></script>
</head>

<body>
  <section class="splash">
    <div class="vertical box long">
      <div class="content">
        <h1>Listen to Transformer</h1>

        <p><a href="https://magenta.tensorflow.org/piano-transformer">Music Transformer</a> is an open source machine
          learning model from the
          <a href="http://magenta.tensorflow.org/">Magenta</a> research group at Google that can generate musical
          performances with some long-term structure.
          We find it interesting to see what these models can and can’t do,
          so we made this app to make it easier to explore and curate the model’s output.
        </p>

        <button class="square" id="btnCloseHelp">start listening</button>

        <p>If you listen to a bunch of samples, you’ll probably discover that most
          compositions (like a lot of fully AI-generated music)
          are nowhere near as good and interesting as what people compose.
          And that’s okay! We just thought it would be fun for more people to be able
          to hear them, think about them, or remix them in their own music. So here is
          a radio station of 100,000 random, not cherry-picked, samples.
          They are all downloadable as MIDI files under a CC0 (“No Rights Reserved”)
          license, so if you want to take one of the pieces and make it your own,
          do it -- we’d love to hear all about it!
        </p>

        <p>For those interested in all the ones and zeros of this work, you
          can read more about the model in the
          <a href="https://magenta.tensorflow.org/music-transformer">blog post</a> announcing it,
          the <a href="https://arxiv.org/abs/1809.04281">research paper</a> it was published in,
          or the <a href="https://github.com/magenta/listen-to-transformer">blog post</a>
          about this app.
        </p>

        <p>When you favourite a song, it is only stored locally, in your browser's cache,
          and not on any external server. In order to understand a bit better which pieces
          people like, skip over, or keep going back to, we are collecting some
          anonymous click analytics from this app in accordance with Google’s
          <a href="https://policies.google.com/privacy?hl=en&gl=us">privacy policy</a>.
        </p>
      </div>
    </div><!-- /help -->
  </section>


  <section class="main" hidden>
    <div class="canvas-container"></div>
    <div class="box vertical">
      <h1 class="outside">
        <span>Electric Sheep</span>
        <button title="about this" id="btnHelp">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
            <path
              d="M11 18h2v-2h-2v2zm1-16C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8zm0-14c-2.21 0-4 1.79-4 4h2c0-1.1.9-2 2-2s2 .9 2 2c0 2-3 1.75-3 5h2c0-2.25 3-2.5 3-5 0-2.21-1.79-4-4-4z" />
          </svg>
        </button>
      </h1>
      <div class="horizontal">

        <!-- <div class="album canvas-container"></div> -->
        <div class="vertical" style="width:100%">
          <div class="song-title">&nbsp;</div>

          <div class="vertical progress">
            <progress></progress>
            <div class="horizontal">
              <div class="current-time">0:00</div>
              <div class="total-time">0:00</div>
            </div>
          </div>

          <div class="horizontal controls">
            <button title="go to the previous song" id="btnPrevious" disabled>
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M6 6h2v12H6zm3.5 6l8.5 6V6z" />
              </svg>
            </button>
            <button title="play/pause" id="btnPlay">
              <svg class="no" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M8 5v14l11-7z" />
              </svg>
              <svg class="yes" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M6 19h4V5H6v14zm8-14v14h4V5h-4z" />
              </svg>
            </button>
            <button title="go to the next song" id="btnNext">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path d="M6 18l8.5-6L6 6v12zM16 6v12h2V6h-2z" />
              </svg>
            </button>
            <button title="download this song" id="btnSave">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path
                  d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z" />
              </svg>
            </button>
          </div> <!-- /controls -->

        </div> <!-- box -->
      </div>
  </section>
</body>

<script src="https://cdnjs.cloudflare.com/ajax/libs/tone/14.7.58/Tone.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@magenta/music@^1.0.0/es6/core.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/1.3.8/FileSaver.min.js" defer></script>
<script defer src="/static/website/script.js"></script>
<script src="/static/website/color-scheme.min.js"></script>

</html>
